<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Ajouter un patient</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <h2>Ajouter un patient</h2>
    <form action="#" th:action="@{/patient}" th:object="${patient}" method="post" class="row g-3">
        <div class="col-md-6">
            <label for="prenom" class="form-label">Prénom</label>
            <input type="text" th:field="*{prenom}" id="prenom" placeholder="Prénom" class="form-control" required>
            <p class="text-danger" th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}">Le prénom est requis.</p>
        </div>
        <div class="col-md-6">
            <label for="nom" class="form-label">Nom</label>
            <input type="text" th:field="*{nom}" id="nom" placeholder="Nom" class="form-control" required>
            <p class="text-danger" th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}">Le nom est requis</p>
        </div>
        <div class="col-md-6">
            <label class="form-label">Genre</label>
            <div class="form-check">
                <input type="radio" th:field="*{genre}" id="homme" value="M" class="form-check-input" required>
                <label for="homme" class="form-check-label">Homme</label>
            </div>
            <div class="form-check">
                <input type="radio" th:field="*{genre}" id="femme" value="F" class="form-check-input" required>
                <label for="femme" class="form-check-label">Femme</label>
            </div>
            <p class="text-danger" th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}">Le genre est requis</p>
        </div>
        <div class="col-md-6">
            <label for="adressePostale" class="form-label">Adresse</label>
            <input type="text" th:field="*{adressePostale}" id="adressePostale" placeholder="Adresse" class="form-control">
            <p class="text-danger" th:if="${#fields.hasErrors('adressePostale')}" th:errors="*{adressePostale}"></p>
        </div>
        <div class="col-md-6">
            <label for="dateDeNaissance" class="form-label">Date de naissance</label>
            <input type="text" th:field="*{dateDeNaissance}" id="dateDeNaissance" placeholder="--/--/----" class="form-control"
                   th:value="${#temporals.format(patient.dateDeNaissance, 'dd/MM/yyyy')}" required>
            <p class="text-danger" th:if="${#fields.hasErrors('dateDeNaissance')}"
               th:errors="*{dateDeNaissance}">la date de naissance est requise</p>
        </div>
        <div class="col-md-6">
            <label for="numeroDeTelephone" class="form-label">Numéro de téléphone</label>
            <input type="text" th:field="*{numeroDeTelephone}" id="numeroDeTelephone" placeholder="Numéro de téléphone" class="form-control">
            <p class="text-danger" th:if="${#fields.hasErrors('numeroDeTelephone')}" th:errors="*{numeroDeTelephone}"></p>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <a href="/" class="btn btn-secondary">Annuler</a>
        </div>
    </form>
</div>
</body>
</html>
